#wrapper {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #CCE2DD;
	overflow: hidden;
}

.left {
	width: 70%;
  float:left;
}
.right {
	width: 25%;
  float:left;
}

#footer {
 clear: left;
 text-align: center;
}

.notice {
	background-color:	#6BC9DB;
	color: #FFFFFF;
	font-size: 14pt;
}
.error {
	background-color: #800517;
	color: #FFFFFF;
	font-size: 14pt;
}

.success {
	background-color: #3EA99F;
	color: #FFFFFF;
	font-size: 14pt;
}
.red {
  color:red;
}
