<p>
 <label class="left" style="width:40%;"><b>UserName:</b></label>
 <label><%= @user.username %></label>
</p>
<p>
 <label class="left" style="width:40%;"><b>FirstName:</b></label>
 <label><%= @user.firstname %></label>
</p>
<p>
 <label class="left" style="width:40%;"><b>LastName:</b></label>
 <label><%= @user.lastname %></label>
</p>
<p>
	<%= link_to 'Back', user_index_path %>
<p>
