<div class="loginarea">
  <fieldset>
    <legend>Enter Login Details</legend>
    <% form_tag login_path do %>
			<div>
		     <p>
		       <label for="username" class="left" style="width:40%;">UserName:</label>
		       <%= text_field_tag :username, params[:username] %>
		     </p>
		     <p>
		       <label for="password" class="left" style="width:40%;">Password:</label>
		       <%= password_field_tag :password, params[:password] %>
		     </p>
			 </div>
       <p>
         <%= submit_tag "Login" %>
				 <%= link_to 'NewUser', new_user_path %>
       </p>  
    <% end %>
  </fieldset>
</div>
