<%form_for :listitem, :url => { :action => 'add_listitem' } do |f| %>
  <p>
    <%= f.label :Listitem %><br /> 
    <%= f.text_field :listitem %>
  </p>
  <%= submit_tag 'Add Listitem' %>
  <%= hidden_field 'listitem', 'todolist_id', :value => params[:id] %>
<% end %>
