<html>
  <head>
  <title>TodoList</title>
    <%= stylesheet_link_tag "todolist" , :media => "all" %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'prototype' %>
  </head>
  <body>
    <div id="wrapper">
      <div id="banner">
      </div>
      <div id="message">
        <%= notifications %>
      </div>
      <div id="content">
        <%= yield :layout %>     
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>
